/* $Id: style.css,v 1.1.2.9 2009/05/22 08:46:11 jmburnz Exp $ */

/**
 * @file style.css
 *
 * Use this file to override the Genesis core modular styles
 * (such as the HTML elements in typography.css), module CSS
 * and other Drupal styles. Anything that doesn't fit logically
 * into page.css, nodes.css, blocks.css or comments.css can go here.
 */


.field .field-label, .field .field-label-inline, .field .field-label-inline-first {font-weight: normal;}
.gpanel {margin: 0;} /* overrides layout.css in Genesis theme (not subtheme) */
fieldset {margin: 0;} /* overrides base.css in Genesis theme (not subtheme) */
/**********************************************************
 *                    Body
 **********************************************************/
@font-face {
font-family: Sansation;
src: url(../images/sansation/Sansation_Regular.ttf);
}

body {
  font-family: "Sansation", "Helvetica Neue", "Book Antiqua", Verdana, Geneva, "DejaVu Sans", sans-serif;
  background-color: #ECECE7;
  margin: 0;
  padding: 0;
  font-size: .9em;
/*   background-image: url(../images/background_7.png); */
  margin-bottom: -20px;
}

#centercontainer {
display: block;
width: 90%;
margin: 0px auto;
min-width: 1000px;
max-width: 2000px;
}

#centercontainer > #columns {display:block;}

#headercontainer {
width: 100%;
margin: 70px auto 0 auto;
/*background-image: url(../images/background_5.png);*/
background-color: #FAF9F6;
}

#header, #quicktabs-maptabs ul.quicktabs_tabs, #quicktabs_container_maptabs .block-faceted_search_ui .block-inner {width: 90%; margin: 0 auto; min-width: 1000px;} /*#block-multiblock-2 PERHAPS NEEDS INCLUDED*/


/**********************************************************
 *                 HTML Elements
 **********************************************************/

h1 {}
h2 {} /* to override default */
h3 {}
h4 {}
h5 {}
h6 {}

p {}

strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote {}
cite {}
q {}

address {}

ul {}
ol {}
li {}

dl {}
dd {}
dt {}


abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a {
  margin: 0;
  padding: 0;
  color: #737472;
  text-decoration: none;
}

a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}

/* Set global a:active and a:focus styles. */
a:active,
a:focus {
  color: #C00000;
  border: 0;
}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {
border: none;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.views-row a img:hover {
opacity: .6;
}



/**********************************************************
 *                 Accessibility Classes
 **********************************************************/

/* Hide content without positioning issues. */
.invisible {
  height: 0;
  overflow: hidden;
}

/* Move content off screen where appropriate. */
.offscreen {
  position: absolute;
  left: -999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Completely remove content for all users.
   DO NOT use this for Skip links, display:none
   hides content from screen readers! */

.remove {
  display: none;
} 


/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets (such as the nodes, blocks,
 * page and comments stylesheets).
 */


/** Main DL GRID viewer ************************************/


.gridlistview .grid_view {
clear: both;
margin-right: -4.1%;
position: relative;
top: -50px;
}
.gridlistview .list_view {
clear: both;
margin-right: 0;
padding-top: 15px;
}



.section-listview .view-id-dl_view_facetedsearch .view-content {
margin-right: 0;
}




.gridlistview .list_view .views-row {
float: none;
clear: both;
margin-bottom: 120px;
}
.gridlistview .grid_view .views-row {
float: left;
display: inline-block;
margin: 0 3% 100px 0;
width: 30%;
height: 280px;
}




.gridlistview .grid_view .views-row .dlimage {
height: 200px;
overflow: hidden;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .list_view .views-row .dlimage {
-webkit-border-radius: 1px;
border-radius: 1px;
float: left;
display: inline-block;
}

.gridlistview .grid_view .views-row .dlimage img {
height: auto;
max-width: 100%;
}
.gridlistview .list_view .views-row .dlimage img {
width: 400px;
height: 220px;
margin-right: 25px;
}



.gridlistview .grid_view .views-row .dlimage_title {
width: 97%;
height: 45px;
overflow: hidden;
border-bottom: 1px solid #d9d9d9;
padding: 5px;
font-size: 1.3em;
color: #5B5A5B;
position: relative;
letter-spacing: .1em;
top: 260px;
}
.gridlistview .list_view .views-row .dlimage_title {
margin: 0 0 2px 0;
background-color: #DBDAD7;
-webkit-border-radius: 1px;
border-radius: 1px;
margin-bottom: 10px;
}
.gridlistview .list_view .views-row .dlimage_title a {
color: #97A252;
display: block;
font-size: 1.8em;
text-align: center;
padding: 2px 0 2px 0;
}
.gridlistview .list_view .views-row .dlimage_title a:hover {
background-color: #97A252;
color: #DBDAD7;
-webkit-border-radius: 1px;
border-radius: 1px;
}







.gridlistview .grid_view .views-row .dlimage_urllink {
position: relative;
overflow: hidden;
height: 20px;
margin: 0 1% 0 1%;
background-color: #DBDAD7;
font-size: 1.1em;
width: 98%;
display: block;
  opacity: 0;
  top: -250px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

.gridlistview .grid_view .views-row:hover .dlimage_urllink {
opacity: .9;
}
.gridlistview .grid_view .views-row .dlimage_urllink a {
display: block;
padding-left: 5px;
}
.gridlistview .grid_view .views-row .dlimage_urllink a:hover {
background-color: #ECECE7;
color: #41403B;
}
.gridlistview .list_view .views-row .dlimage_urllink {
clear: both;
display: block;
margin-top: 40px;

border-bottom: 1px solid #d6d6d6
}
.gridlistview .list_view .views-row .dlimage_urllink a {
display: block;
padding: 5px 5px;

}
.gridlistview .list_view .views-row .dlimage_urllink a:hover {
background-color: #97A252;
color: #ECECE7;
}






.gridlistview .grid_view .views-row .dlimage_about {
width: 100%;
height: 200px;
color: #d0d0d0;
font-size: 1.2em;
position: relative;
display: block;
background-color: #333333;
  opacity: 0;
  top: -200px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .grid_view .views-row:hover .dlimage_about {
opacity: .9;
}
.gridlistview .grid_view .views-row .dlimage_about p {
display: block;
max-height: 110px;
overflow: hidden;
padding: 12px 10px 7px 10px;
}
.gridlistview .list_view .views-row .dlimage_about {
color: #7F7E7D;
font-size: 1.2em;
display: block;
height: 180px;
overflow: hidden;
border-bottom: 1px solid #d0d0d0;
margin-bottom: 5px;
}




.gridlistview .grid_view .views-row .dlimage_terms {
display: none;
}
.gridlistview .list_view .views-row .dlimage_terms {
height: 50px;
overflow: hidden;
font-size: 1em;
color: #909193;
}
.gridlistview .list_view .views-row .dlimage_terms a {
color: #97A252;
}





.gridlistview .grid_view .views-row .dlimage_vote {
display: none;
}
.gridlistview .list_view .views-row .dlimage_vote {
width: 450px;
float: left;
display: inline-block;
-webkit-border-radius: 1px;
border-radius: 1px;
padding: 5px 25px 5px 25px;
border: 1px solid #fff;
font-size: 1.2em;
color: #7F7E7D;
}
.gridlistview .list_view .views-row .fivestar-widget-static {
width: 150px;
float: right;
padding-top: 3px;
}





.gridlistview .grid_view .views-row .dlimage_link {
float: left;
width: 32%;
text-align: center;
padding: 2px 5px;
margin: 0 1% 0 1%;
display: block;
font-size: 1.2em;
height: 20px;
position: relative;
background-color: #97A252;
  opacity: 0;
  top: -256px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .grid_view .views-row:hover .dlimage_link {
  opacity: .8;
  left: 0;
}
.gridlistview .grid_view .views-row .dlimage_link a {
display: block;
color: black;
}
.gridlistview .grid_view .views-row .dlimage_link a:hover {
color: #ECECE7;
}
.gridlistview .list_view .views-row .dlimage_link {
float: left;
display: inline-block;
width: 10%;
border: 1px solid #fff;
margin-left: 25px;
text-align: center;
font-size: 1.2em;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .list_view .views-row .dlimage_link a {
display: block;
color: #97A252;
padding: 5px;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .list_view .views-row .dlimage_link a:hover {
color: #ECECE7;
background-color: #97A252;
}





.gridlistview .grid_view .views-row .dlimage_flaglink {
float: right;
width: 32%;
text-align: center;
padding: 2px 4px;
margin: 0 1%;
display: block;
font-size: 1.2em;
height: 20px;
position: relative;
background-color: #97A252;
  opacity: 0;
  top: -256px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .grid_view .views-row:hover .dlimage_flaglink {
  opacity: .8;
  left: 0;
}
.gridlistview .grid_view .views-row .dlimage_flaglink a {
display: block;
color: black;
}
.gridlistview .grid_view .views-row .dlimage_flaglink a:hover {
color: #ECECE7;
}
.gridlistview .list_view .views-row .dlimage_flaglink {
float: right;
display: inline-block;
width: 10%;
border: 1px solid #fff;
margin-left: 25px;
text-align: center;
font-size: 1.2em;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .list_view .views-row .dlimage_flaglink a {
display: block;
color: #97A252;
padding: 5px;
-webkit-border-radius: 1px;
border-radius: 1px;

}
.gridlistview .list_view .views-row .dlimage_flaglink a:hover {
color: #ECECE7;
border: 1px solid #fff;
}







.gridlistview .grid_view .views-row .dlimage_flagcounter {
float: right;
width: 20%;
text-align: center;
padding: 2px 4px;
margin: 0 1% 0 0;
display: block;
font-size: 1.2em;
height: 20px;
position: relative;
background-color: #D5D0D0;
  opacity: 0;
  top: -256px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;

-webkit-border-radius: 1px;
border-radius: 1px;
}
.gridlistview .grid_view .views-row:hover .dlimage_flagcounter {
  opacity: .6;
  left: 0;
}
.gridlistview .list_view .views-row .dlimage_flagcounter {
float: right;
display: inline-block;
width: 8%;
border: 1px solid #fff;
margin-left: 25px;
-webkit-border-radius: 1px;
border-radius: 1px;
text-align: center;
padding: 5px;
font-size: 1.2em;
color: #7F7E7D;
}




.gridlistview .grid_view .views-row .dlimage_reads {
display: none;
}
.gridlistview .list_view .views-row .dlimage_reads {
float: left;
display: inline-block;
width: 8%;
border: 1px solid #fff;
margin-left: 25px;
-webkit-border-radius: 1px;
border-radius: 1px;
text-align: center;
padding: 5px;
font-size: 1.2em;
color: #7F7E7D;
}


.view-dl-view-facetedsearch .views-field-ops .flag-wrapper a {
display: block;
}



//* Views filters for DL NODE (similar etc DLs) *************************/

#block-block-4 .block-inner {
   border: 1px solid #e0e0c2;
   padding: 10px;
}

#block-block-4 .block-inner .block-content a {
   display: block;
}

#block-views--exp-dl_view_grid-page_1 h2{
	border: 1px solid #ffffff;
	margin: 5px;
}

#block-views--exp-dl_view_grid-page_1 .block-inner  {
   border: 1px solid #e0e0c2;
   margin: 0 0 10px 0;
}

#block-views--exp-dl_view_grid-page_1 .block-content {
  display: none;
}

#block-views--exp-dl_view_grid-page_1 .views-exposed-widget .form-submit {
	position: absolute;
	top: -8px;
	left: 90px;
}

#block-views--exp-dl_view_grid-page_1 .views-exposed-widget {
	border: 1px solid #ffffff;
	margin: 5px;
}





/*************** Search styling for the LIST vs GRID changer  **********/

#block-block-19 .gridlistbuttons {
display: block; 
text-align: right;
z-index: 1;
position: relative;
}
#block-block-19 .gridlistbuttons button {
font-size: 2.8em;
color: #97A252;
letter-spacing: .1em;
height: 50px;
width: 65px;
border: 1px solid #fff;
margin: 0 0 0 5px;
background-color: #ECECE7;

/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
cursor: pointer;
padding-bottom: 5px;
}

#block-block-19 .gridlistbuttons button:hover {
background-color: #97A252;
color: #ECECE7;
border: 1px solid #97A252;
}

/************************** GENERAL Faceted Guided Search styling */


.faceted-search-page {
width: 100%;
margin: 0;
padding: 0;
margin-top: 30px;
}

.faceted-search-current {
margin-bottom: 10px;
padding: 5px 10px;
font-size: 1.7em;
background-color: #DBDAD7;
color: #5B5A5B;
-webkit-border-radius: 1px;
border-radius: 1px;

/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
}

.faceted-search-numbering {
font-size: 1.5em;
padding: 7px 20px 7px 20px;
margin: -10px 0 10px 0;
background-color: #ECECE7;
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
}

.faceted-search-current a:hover {color: #97A252; }

.faceted-search-facet td, .faceted-search-facet th {border-bottom: none;}

.faceted-search-facet table.faceted-search .item-list li {
    background-color: #faf9f6;
    list-style-type: none;
    margin: 3px 4px 0 0;
    padding: 0 8px;
    font-size: .8em;
}

table.faceted-search td {padding: 0 .5em 0 .5em;}


/*************** Faceted Guided Search styling for the LEADERBOARD TOP  **********/

#leaderboard-top .faceted-search-facet>a {
font-size: 1em;
background-color: yellow;
}

#leaderboard-top .block-faceted_search_ui .block-content {
display: none;
background-color: #F7F7F7;
height: 430px;
background-image: url(../images/background_4a.png);
border-bottom: 3px solid #97A252;
}

#leaderboard-top .faceted-search-facet {
float: left;
width: 26.3%;
margin: 0 0 15px 4.94%;
padding: 2px;
height: 108px;
border: 1px solid #E0E0C2;
/* border-bottom: 1px solid #909193; */
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

#leaderboard-top .faceted-search-facet .item-list {
max-height: 84px;
overflow: auto;
}

#leaderboard-top .faceted-search-facet h3  {
padding: 0 10px 2px 10px;

color: #818181;
font-size: 1.4em;
position: relative;
left: -10px;
font-variant: small-caps;
letter-spacing: .1em;

/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

#leaderboard-top #block-faceted_search_ui-1_guided, #block-block-25 {
position: fixed;
top: 0px;
width: 100%;
border-top: 4px solid #dfdca6;
z-index: 100;
}

#leaderboard-top .block-faceted_search_ui .block-inner {}
#block-block-25 .block-inner {}

#leaderboard-top .block-faceted_search_ui h2.block-title {
background-image: url(../images/DLDHeader_11.png);
background-repeat: no-repeat;
background-position-x: 20px;
background-position-y: 7px;
text-align: right;
cursor: pointer;
color: #DDDAD8;
height: 45px;
font-size: 1.1em;
padding: 22px 20px 0 0;
background-color: #90928F;
letter-spacing: .1em;
font-variant: small-caps;
}
#block-block-25 h2.block-title {
background-image: url(../images/DLDHeader_11.png);
background-repeat: no-repeat;
background-position-x: 20px;
background-position-y: 7px;
text-align: right;
color: #DDDAD8;
height: 45px;
font-size: 1.1em;
padding: 22px 30px 0 0;
background-color: #90928F;
letter-spacing: .1em;
font-variant: small-caps;
}

#block-block-25 .block-content {display: none;}
#block-block-25 {margin-bottom: -30px;}

#leaderboard-top .block-faceted_search_ui h2.block-title:hover {
background-color: #B4B4B4;
color: #909193;
}

#leaderboard-top .block-faceted_search_ui .slideBlocks-processed .block-content p {
text-align: center;
font-size: 1.1em;
padding: 15px 0 15px 0;
margin: 0;
}

#leaderboard-top .faceted-search-facet li a:hover {color: black; }
#leaderboard-top .faceted-search-facet li {
    background-color: #FAF9F6;
    list-style-type: none;
    margin: 4px 5px 0 5px;
    padding: 0 3px;
    font-size: 1.2em;
    display: block;
}

.faceted-search-facet .item-list li {color: #dcdcdc;}
.faceted-search-facet .item-list li a {color: #a7a7a7;}
.faceted-search-facet .item-list li a:hover {color: black;}



/** Faceted Guided Search styling for the SEARCH BOXES AND FORMS */

.faceted-search-page h2.box-title {
display: none;
}

.block-faceted_search_ui-1_keyword {
padding: 0;
}

.block-faceted_search_ui #edit-keywords-wrapper  {
width: 55%;
float: left;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

.block-faceted_search_ui #edit-keywords-wrapper input {
font-size: 3em;
margin: 0;
padding: 0 0 0 10px;
color: #e0e0c2;
letter-spacing: .1em;
}

.block-faceted_search_ui #edit-keywords-wrapper .form-text {
width: 98%;
height: 50px;
display: inline;
margin-top: -12px;
border: transparent;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

.block-faceted_search_ui #edit-submit.form-submit {
font-size: 1.6em;
color: #97A252;
letter-spacing: .1em;
height: 50px;
width: 95px;
border: transparent;
margin-top: 0;
border: 1px solid #fff;
background-color: transparent;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
cursor:pointer;
}

.block-faceted_search_ui #edit-submit.form-submit:hover {
background-color: #97A252;
color: #ECECE7;
border: 1px solid #97A252;
}

.block-faceted_search_ui a.faceted-search-more {
font-size: 1.2em;
padding: 18px 10px 16px 10px; /* dependent of font-size, as inline-block won't work right*/
margin-top: -12px;
height: 50px;
width: 110px;
text-align:center;
border: 1px solid #fff;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

.block-faceted_search_ui a.faceted-search-more:hover {
background-color: #97A252;
color: #ECECE7;
border: 1px solid #97A252;
}

.block-faceted_search_ui #edit-refine-wrapper {
float: right;
padding: 17px 5px 15px 5px;
position: relative;
top: -12px;
left: -25px;
background-color: #ECECE7;
border: 1px solid #fff;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

.block-faceted_search_ui #edit-refine-wrapper label.option {
font-size: 1em;
color: #8F918E;
}

.block-faceted_search_ui #edit-refine.form-checkbox {
margin-top: 0;
}



/*************** Faceted Guided Search styling for the INDEX pages  **********/

.faceted-search-page .faceted-search-guided > legend {
font-size: 2em;
letter-spacing: .2em;
font-variant: small-caps;
color: #9B9B9B;
padding: 0 30px;
margin-left: 10px;
-webkit-border-radius: 1px;
border-radius: 1px;
border: transparent;
background-color: #d3d2d2;
}

.faceted-search-page .faceted-search-guided > p {
font-size: 1.3em;

padding: 10px 0 30px 15px;
margin: 0;
color: #9B9B9B;
}

.faceted-search-stage-facet .faceted-search-guided > p {
font-size: 1.2em;
text-align: center;
padding: 30px 0 30px 0;
}

.faceted-search-page .faceted-search-keyword > legend {
font-size: 1.1em;
letter-spacing: .2em;
font-variant: small-caps;
color: #9B9B9B;
padding: 0 30px;

background-color: #d3d2d2;
-webkit-border-radius: 1px;
border-radius: 1px;
}

.faceted-search-page .faceted-search-keyword {
font-size: 1.8em;
margin-top: 3em;
padding-top: 0;
margin-bottom: 3em;
padding-bottom: 0;
-webkit-border-radius: 1px;
border-radius: 1px;
}

.faceted-search-page .faceted-search-guided {
-webkit-border-radius: 1px;
border-radius: 1px;
}

.faceted-search-page #edit-keywords-wrapper .form-text {
width: 55%;
height: 50px;
display: inline;
border: transparent;
margin-right: 15px;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
}

.faceted-search-page #edit-keywords-wrapper input {
color: #e0e0c2;
letter-spacing: .1em;
margin-top: 8px;
padding: 0 0 0 10px;
font-size: 1.8em;
}

.faceted-search-page #edit-operator.form-select {
font-size: .6em;
margin-bottom: 20px;
}

.faceted-search-page #edit-submit.form-submit {
color: #97A252;
letter-spacing: .1em;
margin-top: 20px;
height: 40px;
width: 130px;
background-color: #ECECE7;
border: 1px solid #fff;
-webkit-border-radius: 1px;
border-radius: 1px;
cursor: pointer;

}

.faceted-search-page #edit-submit.form-submit:hover {
background-color: #97A252;
color: #ECECE7;
border: 1px solid #97A252;
}

.faceted-search-page #edit-refine-wrapper {
float: left;
padding: 17px 10px 14px 10px;
margin: 8px 10px 0 0;
background-color: #ECECE7;
font-size: .6em;
width: 150px;
color: #737472;
-webkit-border-radius: 1px;
border-radius: 1px;
}

.faceted-search-page .faceted-search-facet>a {
font-size: 1.3em;
background-color: yellow;
padding: 0 10px;
margin: 5px 8px;
}

.faceted-search-facet table.faceted-search {
clear: both;
margin-bottom: 30px;
}

.faceted-search-page .faceted-search-facet h3 {
font-size: 1.2em;
float: left;
width: 96%;
color: #5B5A5B;
/* background-color: #DBDAD7; */
padding: 0 0 0 10px;

-webkit-border-radius: 1px;
border-radius: 1px;
}

.faceted-search-stage-facet .faceted-search-facet h3 {
width: 98%;
}

.faceted-search-page .faceted-search-facet {
font-size: 1.3em;
}

/**********************************************END FACETED SEARCH STYLING */





/** Main Digital Library Content Display */

/* These have to go together, for some reason!!!*****************/
tr {background: transparent;}

#block-faceted_search_ui-1_related .block-inner .block-content table.faceted-search {
width: 100%;
padding: 0;
margin: 0;
}

#block-faceted_search_ui-1_related tr {background-color: transparent;}



.node-type-digital-library #block-cck_blocks-field_link_front .field-type-link a {
position: absolute;
margin-top: 0;
display: block;
padding: 12px 10px;
background-color: #d7d7d7;
width: 570px;
z-index: 1;
color: #97A252;
font-size: 1.2em;
overflow: hidden;
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: inset 0 0 10px #D1CFCC;
box-shadow: inset 0 0 10px #D1CFCC;
*/
}

.node-type-digital-library #block-cck_blocks-field_link_front .field-type-link a:hover {
background-color: #97A252;
color: #41423F;
}


.node-type-digital-library #block-cck_blocks-field_iframe {
-webkit-border-radius: 1px;
border-radius: 1px;
background-color: #E3E2E1;

}

.node-type-digital-library #block-cck_blocks-field_iframe .field-type-iframe .field-items {
display: none;
}

.node-type-digital-library .field-type-iframe .field-label  {
padding: 8px 30px 8px 0px;
text-align: right;
font-size: 1.3em;
cursor: pointer;
color: #9B9B9B;

}
.node-type-digital-library .field-type-iframe .field-label:hover {
background-color: #97A252;
color: #41423F;
-webkit-border-radius: 1px;
border-radius: 1px;
}
/* These have to go together, for some reason!!!*****************/





/** Main Digital Library NODE */

.node-type-digital-library #quaternary-content, .node-type-digital-library #tertiary-content {
	clear: both;
	margin-top: 5em;
	}

.node-type-digital-library .columns-inner {
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: 0 1px 3px #9B9B9B;
box-shadow: 0 1px 3px #9B9B9B;
*/
margin: 40px 0 100px 0;
}

.section-libraries #main-content #page-title {
background-color: #C7C59B;
padding: 5px 20px;
margin-bottom: 5px;
font-size: 1.3em;
height: auto;
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: 0 1px 5px #9B9B9B;
box-shadow: 0 1px 5px #9B9B9B;
*/
}

.node-type-digital-library #block-cck_blocks-field_text_about .block-content {
font-size: 1.4em;
color: #3C3C3C;
line-height: 1.4em;
}
.node-type-digital-library #block-cck_blocks-field_text_about .block-inner {
height: 350px;
overflow: hidden;
}
.node-type-digital-library #block-cck_blocks-field_text_about h2.block-title {
font-size: 1.8em;
padding: 10px 0;
margin-bottom: 10px;
color: #97A252;
border-bottom: 1px solid #C3C397;
}



#dsq-content {
padding-left: 10px;
}

/****** Similar DL grid ******/

#block-views-similarterms_grid-block_1 {
display: block;
}

#block-views-similarterms_grid-block_1 .views-row {
float: left;
margin: 0 25px 20px 0;
}

#block-views-similarterms_grid-block_1 .views-field-title {
width: 170px;
height: 40px;
overflow: hidden;
border-bottom: 1px solid #A6A5A3;
color: #737472;
padding: 0 5px 2px 5px;
font-size: 1.2em;
}

#block-faceted_search_ui-1_related h2 {
background-color: #DBDAD7;
padding: 5px 10px;
margin: 2.8em 0 20px 0;
font-variant: small-caps;
color: #3C3C3C;
font-size: 2em;
letter-spacing: .1em;
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: 0 1px 2px #9B9B9B;
box-shadow: 0 1px 2px #9B9B9B;
*/
}

#block-views-similarterms_grid-block_1 h2 {
background-color: #DBDAD7;
padding: 5px 10px;
margin: 6em 30px 20px 0;
font-variant: small-caps;
color: #3C3C3C;
font-size: 2em;
letter-spacing: .1em;
-webkit-border-radius: 1px;
border-radius: 1px;

}



 /********** Flagging alerts *****/
 
span.flag-throbber {
display: none;
}

li.flag-favorites span.flag-message, .view-dl-view-facetedsearch .views-field-ops .flag-favorites span.flag-message {
font-size: 3em;
margin-top: 5px;
width: 100px;
padding: 10px;
background-color: #cdd9a8;
}

li.flag-report span.flag-message {
font-size: 3em;
margin-top: 5px;
width: 100px;
padding: 10px;
background-color: #cdd9a8;
}


/** Main Digital Library NODE LINKS and FIVESTAR in node and teaser */

.node-type-digital-library .node ul.links {display: none;}

/* share-this buttons on main libraries node */

#block-block-24 .block-content  {
margin-top: 23px;
height: 50px;
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: inset 0 0 10px #D1CFCC;
box-shadow: inset 0 0 10px #D1CFCC;
*/
}
#block-block-24 .block-content .buttons {
float: right;
padding: 10px
}
.sharetext {
display: none;
}

/****** Links on Node, using Module Links */

#block-links_block-0 .links-item-link {
border: 1px solid #fff;
width: 176px;
margin: 0 27px 27px 0;
float: left;
height: 40px;
text-align: center;
display: block;
padding-top: 10px;
font-size: 1.5em;
-webkit-border-radius: 1px;
border-radius: 1px;
}



#block-links_block-0 .links-item-link .flag-favorites a {
color: #8F9847;
margin-top: -10px;
font-size: 1.4em;
display: block;
padding: 6px 0 8px 0;
}
/*
#block-links_block-0 .links-item-link .flag-favorites a:hover {
background-color: #97A252;
color: #DBDAD7;

}
*/
#block-links_block-0 .links-item-link .flag-report a {
margin-top: -10px;
font-size: .7em;
display: inline-block;
padding: 6px 10px;
color: #8F9847;
}
/*
#block-links_block-0 .links-item-link .flag-report a:hover {
background-color: #97A252;
color: #DBDAD7;
}
*/

 /* 5-star AND 5-star explanation (explanation in block-15) */

#block-block-15 {z-index: 2;}

#block-block-15 .block-inner {
background-color: #ECECEC;
height: 75px;
padding: 0 20px;

}

#block-block-15 .block-inner .block-content p {
font-size: 1em;
color: #9B9B9B;
line-height: 1.5em;


}

.node-digital_library .node-inner .node-content > .fivestar-widget {
background-color: #ECECEC;
height: 50px;
padding: 20px;
margin-top: -5px;
-webkit-border-radius: 0 0 4px 0;
border-radius: 0 0 4px 0;

}

.node-digital_library .node-inner .node-content .fivestar-static-form-item {
display: inline-block;
width: 240px;
float: left;
padding-bottom: 3px;
}
.node-digital_library .node-inner .node-content .fivestar-form-item {
display: inline-block;
width: 255px;
padding-bottom: 3px;
}

.node-digital_library .node-inner .node-content .form-item label {
width: 110px;
float: left;
font-size: 1.3em;
font-variant: small-caps;
color: #3B3C61;
}

.node-digital_library .node-inner .node-content .form-item .star, .node-digital_library .node-inner .node-content  .fivestar-form-item .cancel {
margin-top: 7px;
font-size: 5em;
}


/** User page/view styling */

/*
.section-user .logged-in .local-tasks ul.primary {
display: none;
}
*/


/** Front styling .front a {pointer-events: none; cursor: default;} */



/** Quicktabs Garland Tab Style Overrides */

#block-quicktabs-maptabs {
display: block;
/*background-color: #D2D5BD;*/
margin: 0;
padding: 20px 0 20px 0;
background-image: url(../images/background_4a.png);
}

#quicktabs-maptabs {
margin: 0 0 0 -7px;
padding: 0;
}

#quicktabs-maptabs ul.quicktabs_tabs {}

#quicktabs-maptabs ul.quicktabs_tabs li.qtab-3.active {
display: none;
}

.quicktabs_main.quicktabs-style-nostyle {
  clear:both;
  margin: 0;
  padding: 0;
}

#quicktabs-maptabs ul.quicktabs_tabs li {
float: left;
display: block;
margin: 9px 5px 6px 1px;
width: 22%;
text-align: center;
font-size: 1.4em;
letter-spacing: .2em;
font-variant: small-caps;
color: #9B9B9B;
/*
-webkit-box-shadow: 0 1px 5px #909A53;
box-shadow: 0 1px 5px #909A53;
*/
-webkit-border-radius: 1px;
border-radius: 1px;
border: 1px solid #fff;
}

#quicktabs-maptabs ul.quicktabs_tabs li a {
color: #9B9B9B;
display: block;
padding: 5px 10px;
letter-spacing: .1em;
}

#quicktabs-maptabs ul.quicktabs_tabs li a:hover {
background-color: #97A252;

color: #41423F;
-webkit-border-radius: 1px;
border-radius: 1px;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

#quicktabs-popular ul {
margin: -100px 0 0 -9px;
}

#quicktabs-popular ul.quicktabs_tabs li a {
color: #41423F;
display: block;
padding: 10px 15px;
letter-spacing: .1em;
}

#quicktabs-popular ul.quicktabs_tabs li a:hover {
background-color: #97A252;
-webkit-border-radius: 1px;
border-radius: 1px;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}


#quicktabs-popular ul.quicktabs_tabs li {
float: left;
display: block;
z-index: 10;
margin: 0 10px 0 0;
text-align: center;
font-variant: small-caps;
font-size: 1.3em;
padding: 0;
background-color: #C7CACD;
-webkit-border-radius: 1px;
border-radius: 1px;

}

ul.quicktabs_tabs li.first {}
ul.quicktabs_tabs.quicktabs-style-nostyle li a:link,
ul.quicktabs_tabs.quicktabs-style-nostlye li a:visited {}

ul.quicktabs_tabs.quicktabs-style-nostyle li.active a {
color: black !important;
background: #97A252;
-webkit-border-radius: 1px;
border-radius: 1px;
/*
-webkit-box-shadow: 0 1px 3px #9B9B9B;
box-shadow: 0 1px 3px #9B9B9B;
*/

}

ul.quicktabs_tabs.quicktabs-style-nostlye li.active {
  background: red;
  margin: 0;
}


#block-disqus-disqus_comments {
	border: 1px solid #e1e1e1;
	padding: 20px 50px;
}

/** Quicktabs Faceted Search Overrides */

#node-28 {display: none;}
